<h1>Word Guesser</h1>
<p>A word guessing games for two players</p>

<% if signed_in? %>
<%= button_to "Start New Game", games_path %>
<% end %>
<h2>Available </h2>
<p>Waiting for a second player to join</p>

<% @available_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %>
  <% if game.is_player?(current_or_guest_user) %> - you are a player in this game<% end %>
  <br>
<% end %>

<h2>Running </h2>
<p>Everyone can watch these games</p>


<% @running_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %>  
  <% if game.is_player?(current_or_guest_user) %> - you are a player in this game<% end %>
  <br>
<% end %>


<h2>These Games are over</h2>
<p>Just the archive</p>


<% @over_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %>
  <% if game.is_player?(current_or_guest_user) %>
    <% if game.is_winner?(current_or_guest_user) %>
      you won this game.
    <% else %>
      you lost this game.
    <% end %>
  <% end %>
  <br>
<% end %>


