<h1>Word Guesser</h1>
<p>A word guessing games for two players</p>

<% if signed_in? %>
<%= button_to "Start New Game", games_path %>
<% end %>
<h2>Available </h2>
<p>You can join</p>

<% @available_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %><br>
<% end %>

<h2>Running </h2>
<p>You can watch</p>


<% @running_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %><br>
<% end %>


<h2>These Games are over</h2>
<p>Just the archive</p>


<% @over_games.each do |game| %>
  <%= link_to "Game #{game.id}", game_path(game) %><br>
<% end %>


