
<p>
  <% if current_user == @game&.white_player&.user %>I am the white player
  <% elsif current_user == @game&.black_player&.user %>I am the black player
  <% else %>I am just a visitor
  <% end %>
</p>
<div id="container"
    data-user-id="<%= current_user&.id %>"
>
  <%= render partial: 'game', locals: {game: @game} %>
</div>

<% if @game.players.count == 1 %>
  <% if user_signed_in? %>
    <button id="join" data-user-id="<%= current_user.id %>">Join this Game</button>
  <% end %>
<% end %>

<div id="letter" style="display:none;"></div>

<p><%= link_to 'Back', games_path %></p>
